*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 80px;

background:#111827;

position:fixed;

width:100%;

top:0;

}

.logo{

font-size:28px;
font-weight:bold;

color:#38bdf8;

}

nav ul{

display:flex;

list-style:none;

}

nav li{

margin-left:35px;

}

nav a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

}

nav a:hover{

color:#38bdf8;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:180px 80px;

}

.hero-text{

width:55%;

}

.hero-text h1{

font-size:60px;

color:#38bdf8;

}

.hero-text h2{

font-size:48px;

margin-top:10px;

}

.hero-text h3{

margin-top:20px;

color:#94a3b8;

font-size:24px;

}

.hero-text p{

margin-top:30px;

line-height:1.8;

font-size:20px;

}

.btn{

display:inline-block;

margin-top:40px;

padding:15px 40px;

background:#38bdf8;

border-radius:10px;

color:white;

text-decoration:none;

font-size:20px;

transition:.3s;

}

.btn:hover{

background:#0284c7;

}

.hero-image{

width:35%;

display:flex;

justify-content:center;

}

.hero-image img{

width:330px;

height:330px;

border-radius:50%;

object-fit:cover;

border:6px solid #38bdf8;

}
